<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 Result Check</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>


    <div class="section7">
        <section class="vaccination-benefits-section">
            <div class="vaccination-benefits-container">
                <h2 class="benefits-title">Why get vaccinated today?</h2>
                <p class="benefits-description">
                    Magna adipiscing at elit at ornare lectus nibh lorem.<br>
                    Ac, sed ac lorem pellentesque vestibulum risus matti.<br>
                    In molestie condimentum malesuada non.
                </p>
            </div>
        </section>
    </div>
</body>
</html>
