<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 Result Check</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>


        <div class="section12">
            <section class="feedback-section">
                <div class="feedback-header">
                    <h3>FEEDBACK</h3>
                    <h2>What our Patients Think</h2>
                    <p>
                        Adipiscing nec etiam tortor elit quisque. Arcu aliquet convallis aenean eu velit.
                        Mi vestibulum, ullamcorper venenatis imperdiet augue arcu ue.
                    </p>
                </div>
                <div class="feedback-cards">
                    <div class="feedback-card">
                        <img src="./imagesSection12/Rectangle 24.png" alt="Oyindamola Maja" class="avatar">
                        <h4>Oyindamola Maja</h4>
                        <p class="location">Badagry, Lagos</p>
                        <p class="feedback-text">
                            “Been stressing about a close centre to get the covid-19 vaccine, until I tried Vaccination.ng”
                        </p>
                    </div>
                    <div class="feedback-card highlighted">
                        <img src="./imagesSection12/Rectangle 25.png" alt="Okewowo Lekan" class="avatar">
                        <h4>Okewowo Lekan</h4>
                        <p class="location">Ikeja, Lagos</p>
                        <p class="feedback-text">
                            “Got my vaccine very close to my house. Was very easy scheduling an appointment.”
                        </p>
                    </div>
                    <div class="feedback-card">
                        <img src="./imagesSection12/Rectangle 26.png" alt="Kafaru Temitope" class="avatar">
                        <h4>Kafaru Temitope</h4>
                        <p class="location">Obanikoro, Lagos</p>
                        <p class="feedback-text">
                            “Been stressing about a close centre to get the covid-19 vaccine, until I tried Vaccination.ng”
                        </p>
                    </div>
                </div>
            </section>
            
        </div>
</body>
</html>
