<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 Result Check</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>


        <div class="section8">
            <section class="immune-protection-card">
                <div class="immune-card-content">
                    <div class="immune-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#00bfff" viewBox="0 0 24 24"><path d="M12 2L4 5v6c0 5.55 3.84 10.74 8 11 4.16-.26 8-5.45 8-11V5l-8-3z"/></svg>
                    </div>
                    <h3 class="immune-title">Protects your immune system against viruses</h3>
                    <p class="immune-description">
                        Velit ut consectetur mauris, orci amet, faucibus.<br>
                        Sit turpis fringilla ipsum pretium, dictum.<br>
                        Dolor eget vel nulla lorem ac.
                    </p>
                    <a href="#" class="immune-read-more">Read More &rarr;</a>
                </div>
            </section>
        </div>
</body>
</html>
