<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 Result Check</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>


        <div class="section13">
            <section class="quote-section">
                <div class="quote-box">
                    <h2>Get a quote</h2>
                    <p>Please do enter your email address below</p>
                    <div class="email-input">
                        <input type="email" placeholder="lenux.ng@gmail.com">
                        <button type="submit">
                            <img src="./imagesSection13/send.svg" alt="" width="100%">
                        </button>
                    </div>
                </div>
            </section>
            
            
        </div>
</body>
</html>
