<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 Result Check</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>


        <div class="section11">
            <section class="symptoms-section">
                <h2 class="section-subtitle">Covid-19 Prevention</h2>
                <h1 class="section-title"><span> COVID-19 </span> Symptoms</h1>
                <p class="section-description">
                    Adipiscing nec etiam tortor elit quisque.<br>
                    Arcu aliquet convallis aenean eu velit.<br>
                    Mi vestibulum, ullamcorper venenatis imperdiet<br>
                    augue arcu donec neque.
                </p>
                <div class="symptoms-container">
                    <img src="./imagesSection11/unsplash_Dd6St65dfYw.png" alt="Person with mask" class="symptoms-image">
                    
                    <div class="symptom-label high-fever"> 
                        <img src="./imagesSection11/2.png" alt="virus icon" class="virus-icon"> High Fever
                    </div>
                    <div class="symptom-label dry-cough">
                        <img src="./imagesSection11/2.png" alt="virus icon" class="virus-icon"> Dry Cough
                    </div>
                    <div class="symptom-label loss-smell">
                        <img src="./imagesSection11/2.png" alt="virus icon" class="virus-icon"> Loss sense of smell
                    </div>
                    <div class="symptom-label loss-taste">
                        <img src="./imagesSection11/2.png" alt="virus icon" class="virus-icon"> Loss sense of taste
                    </div>
                    <div class="symptom-label difficulty-breathing">
                        <img src="./imagesSection11/2.png" alt="virus icon" class="virus-icon"> Difficulty Breathing
                    </div>
                    <div class="symptom-label sore-throat">
                        <img src="./imagesSection11/2.png" alt="virus icon" class="virus-icon"> Sore Throat
                    </div>
                </div>
            </section>
        </div>
</body>
</html>
