<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 Result Check</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>


        <div class="section14">
            <footer class="footer-section">
                <div class="footer-content">
                    <h2>Vaccination.ng</h2>
                    <div class="footer-menu">
                        <a href="#" class="active">Home</a>
                        <a href="#">Services</a>
                        <a href="#">Schedule</a>
                        <a href="#">Contact us</a>
                    </div>
                    <div class="social-icons">
                        <a href="#"><img src="./footerImages/youtube.svg" alt="YouTube"></a>
                        <a href="#"><img src="./footerImages/instagram.svg" alt="Instagram"></a>
                        <a href="#"><img src="./footerImages/twitter.svg" alt="Twitter"></a>
                        <a href="#"><img src="./footerImages/facebook.svg" alt="Facebook"></a>
                    </div>
                </div>
            </footer>       
        </div>
</body>
</html>
