<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 Result Check</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>


        <div class="section9">
            <section class="protection-cards-section">
                <div class="protection-card">
                    <div class="card-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#00bfff" viewBox="0 0 24 24"><path d="M12 2C6.1 2 0 5 0 8.5V11c0 3.5 6.1 6.5 12 6.5s12-3 12-6.5V8.5C24 5 17.9 2 12 2zm0 12c-4.6 0-9-1.7-9-3.5S7.4 7 12 7s9 1.7 9 3.5S16.6 14 12 14zm0 5c-2.6 0-5-.6-6.7-1.6-.5-.3-.8-.9-.8-1.4V14c1.8 1.1 4.3 1.8 7.5 1.8s5.7-.6 7.5-1.8v1c0 .5-.3 1.1-.8 1.4-1.7 1-4.1 1.6-6.7 1.6z"/></svg>
                    </div>
                    <h3 class="card-title">Minimize the spread of the Virus</h3>
                    <a href="#" class="card-read-more">Read More &rarr;</a>
                </div>
            
                <div class="protection-card">
                    <div class="card-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#00bfff" viewBox="0 0 24 24"><path d="M13 13h-2v7h2v-7zm3.89-6.8c-.39-.39-1.02-.39-1.41 0l-.49.5-2.12-2.12c.5-1.41.3-3.03-.64-4.24-1.56-2.06-4.54-2.06-6.1 0-.94 1.21-1.14 2.83-.64 4.24L4.61 6.7l-.5-.5c-.39-.39-1.02-.39-1.41 0-.39.39-.39 1.02 0 1.41l7.08 7.08c.19.19.44.29.71.29s.52-.1.71-.29l7.08-7.08c.39-.39.39-1.02 0-1.41z"/></svg>
                    </div>
                    <h3 class="card-title">Protect yourself</h3>
                    <a href="#" class="card-read-more">Read More &rarr;</a>
                </div>
            </section>
        </div>
</body>
</html>
